[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	url = git@git.oschina.net:tbq2616/tbqapps2.git
    url = git@git.coding.net:tboqi/tbqapp2.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
[remote "github"]
	url = git@github.com:tboqi/tbqapps2.git
	fetch = +refs/heads/*:refs/remotes/github/*
[remote "bitbucket"]
	url = git@bitbucket.org:tboqi/tbqapps2.git
	fetch = +refs/heads/*:refs/remotes/bitbucket/*
