<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="<{$domain}>static/sitemap.xsl"?>
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<url>
		<loc><{$domain}></loc>
		<lastmod></lastmod>
		<changefreq>daily</changefreq>
		<priority>1.0</priority>
	</url>
	<!-- Debug: Start Postings -->
	<{foreach $articles as $art}>
	<url>
		<loc><{$domain}>/article/detail/<{$art->id}></loc>
		<lastmod><{$art->create_time}></lastmod>
		<changefreq>monthly</changefreq>
		<priority>0.2</priority>
	</url>
	<{/foreach}>
	<!-- Debug: End Postings -->
<!-- Debug: Start Custom Pages -->
<!-- Debug: End Custom Pages -->
<!-- Debug: Start additional URLs -->
<!-- Debug: End additional URLs -->
</urlset>