# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /khn3blog1/

# Allow any files or directories that exist to be displayed directly
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^admin$ admin.php/ [L]
RewriteRule ^admin\/(.*)$ admin.php/$1 [L]

RewriteCond $1 !^((.*)\.html|index\.php|admin\.php|static|robots\.txt|upload|application|modules|system)
RewriteRule ^(.*)$ index.php/$1 [L]