@charset "utf-8";
/* CSS Document for footer by johnsong */


/* links & copyright */
#footer #sprite_line{
	width:100%;
	height:40px;
	background:url(../images/bg_line.gif) repeat-x center left;
}
#footer p{
	text-align:center;
	line-height:150%;
	}
