/* CSS Document */
body{
	font-size:12px;
	font-weight:400;
	color:#0d6bb0;
	}
#head{
	width:800px;
	height:100px;
	background-image:url(/fl_images/cwhead.gif);
	margin:0px auto;
	}
#nav{
	width:800px;
	height:20px;
	line-height:20px;
	margin:0 auto;
	}
#content{
	width:800px;
	margin:0px auto;
	padding:0px;
	}
.clr{
	clear:both;
	margin:0;
	padding:0;
	}
.title a:link{
	font-size:13px;
	font-weight:bold;
	color:#0d6bb0;
	text-decoration:underline;
	}
.title a:visited{
	font-size:13px;
	font-weight:bold;
	color:#60bef9;
	text-decoration:underline;
	display:inline;
	}
.title a:hover{
	font-size:13px;
	font-weight:bold;
	color:#0d6bb0;
	text-decoration:none;
	display:inline;
	}
.list a:link{
	color:#0d6bb0;
	text-decoration:none;
	}
.list a:visited{
	color:#60bef9;
	text-decoration:underline;
	}
.list a:hover{
	color:#0d6bb0;
	text-decoration:underline;
	display:inline;
	}
.tag a:link{
	color:#008080;
	}
.tag a:visited{
	color:#008080;
	}
.tag a:hover{
	display:inline;
	color:008080;
	text-decoration:none;
	}
.red a:link{
	color:#FF0000;
	font-size:12px;
	font-weight:400;
	}
.red a:visited{
	color:#FF0000;
	font-size:12px;
	font-weight:400;
	}
.red a:hover{
	display:inline;
	color:#ffffff;
	background-color:#FF0000;
	font-size:12px;
	font-weight:800;
	}
.blue a:link{
	color:#0000FF;
	text-decoration:none;
	}
.blue a:visited{
	color:#60bef9;
	text-decoration:underline;
	}
.blue a:hover{
	display:inline;
	color:#0000FF;
	text-decoration:underline;
	}
.page a:link{
	color:#0d6bb0;
	text-decoration:underline;
	}
.page a:visited{
	color:#60bef9;
	text-decoration:underline;
	}
.page a:hover{
	color:#0d6bb0;
	text-decoration:none;
	display:inline;
	}
.blue a:link{
	color:#0000FF;
	text-decoration:underline;
	}
.blue a:visited{
	color:#60bef9;
	text-decoration:underline;
	}
.blue a:hover{
	display:inline;
	color:#0000FF;
	text-decoration:none;
	}
.back a:link{
	font-size:13px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:underline;
	}
.back a:visited{
	font-size:13px;
	font-weight:bold;
	color:#60bef9;
	text-decoration:underline;
	display:inline;
	}
.back a:hover{
	font-size:13px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
	display:inline;
	}
.na a:link{
	color:#0d6bb0;
	text-decoration:underline;
	}
.na a:visited{
	color:#60bef9;
	text-decoration:underline;
	}
.na a:hover{
	display:inline;
	color:#0d6bb0;
	text-decoration:none;
	}
