@charset "utf-8";

/* CSS Document */

*{ margin:0; border:0; font-family:"微软雅黑"; padding:0}

a:link {text-decoration: none;}

a:visited {text-decoration: none;}

a:hover {text-decoration: none;}

a:active {text-decoration: none;}

body{ background:url(/static/wwwtiens/images/bg.jpg)}

.index-header{ width:100%; overflow:hidden;}

.index-header_main{ width:1000px; margin:0 auto; overflow:hidden; background:#fff;  box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);}

.index-header-top{ width:1000px; height:100px; float:left;}

.index-header-top-icon{ width:365px; height:100px; float:left}

.index-header-top-right{ width:635px; height:100px; float:left}

.index-header-top-right-top{ width:635px; height:50px; line-height:50px; float:left; text-align:right; font-size:12px; color:#666}

.index-header-top-right-top a{font-size:12px; color:#666}

.index-header-top-right-top a:hover{ color:#44af35}

.index-header-top-right-bottom{ width:635px; height:50px; float:left}

.index-header-cn{ width:56px; height:50px; float:right; margin-right:30px;}

.index-header-cn a{ width:56px; height:26px; line-height:26px; display:block; text-align:center; background:#7cba3d; color:#FFF; font-size:12px; margin-top:11px;}

.index-header-cn a:hover{ background:#f6be27}

.header-search{ width:208px; height:26px; float:right; margin-top:10px; margin-right:14px; border:1px solid #CCC}

.search{ width:160px; height:26px; line-height:26px; float:left; font-size:12px; color:#999; border:0; padding-left:8px;}

.search-but{ width:40px; height:26px; float:left; border:0; line-height:26px; cursor:pointer; background:url(../images/search.jpg) no-repeat center center}
.search-but-red{ width:40px; height:26px; float:left; border:0; line-height:26px; cursor:pointer; background:url(../images/search_dangjian.jpg) no-repeat center center}
.web_content img{width:72%}
.index-header-nav{ width:1000px; height:56px; background:#f4f4f4; margin:0 auto;}

.page_info{text-align:center;margin-top:10px;color:#888; float:left; font-size:12px;}
.page_info span{padding:0 2px;font-weight:bold;}
.page_list{height:24px;line-height:24px;text-align:center;letter-spacing:0;font-size:12px;margin-top:20px; float:left; margin-top:20px; margin-bottom:20px; display:inline}
.page_list a{display:inline-block;color:#898989;border:1px solid #e8e8e8;background:#f8f8f8;text-align:center;padding:0 8px;margin:0 1px;}
.page_list a:hover{color:#fff;border:1px solid #898989;background:#898989;}
.page_list a.on{color:#333;border:1px solid #ccc;background:#E5EDF2;}


.contPage{height:20px;line-height:20px;text-align:center;letter-spacing:0;font-family:"Arial Black";font-size:10px;margin-top:20px;}
.contPage a{display:inline-block;color:#898989;background:#fff;text-align:center;padding:0 7px;margin:0 1px;}
.contPage a:hover{color:#fff;background:#898989;}
.contPage a.on{color:#333;background:#E5EDF2;border:1px solid #C2D5E3;}

#jsddm

{	margin: 0;

	padding: 0}



	#jsddm li

	{	float: left;

		list-style: none;

		font-size:14px;

		text-align:center}



	#jsddm li a

	{	display: block;

	text-align:center;

		text-decoration: none;

		height:56px; line-height:56px;

		width: 143px;

		color: #888;

		white-space: nowrap}



	#jsddm li a:hover

	{	background: #7cba3d;

	color:#FFF}

		

		#jsddm li ul

		{	margin: 0;

			padding: 0;

			position: absolute;

			visibility: hidden;

			border-top: 1px solid white;

			z-index:1}

		

			#jsddm li ul li

			{	float: none;

				display: inline;

				}

			

			#jsddm li ul li a

			{	width: auto;

				background: #f4f4f4;

				color: #888;

				display:block;

				width:143px;

				height:40px;

				line-height:40px;}

			

			#jsddm li ul li a:hover

			{	

			color:#fff}

			






#jsddma

{	margin: 0;

	padding: 0}



	#jsddma li

	{	float: left;

		list-style: none;

		font-size:14px;

		text-align:center}



	#jsddma li a

	{	display: block;

	text-align:center;

		text-decoration: none;

		height:56px; line-height:56px;

		width: 143px;

		color: #888;

		white-space: nowrap}



	#jsddma li a:hover

	{	background: #cb0202;

	color:#FFF}

		

		#jsddma li ul

		{	margin: 0;

			padding: 0;

			position: absolute;

			visibility: hidden;

			border-top: 1px solid white;

			z-index:1}

		

			#jsddma li ul li

			{	float: none;

				display: inline;

				}

			

			#jsddma li ul li a

			{	width: auto;

				background: #f4f4f4;

				color: #888;

				display:block;

				width:143px;

				height:40px;

				line-height:40px;}

			

			#jsddma li ul li a:hover

			{	

			color:#fff}

	













.index-banner{ width:100%; height:400px;}	

.index-banner-main{ width:1000px; height:400px; margin:0 auto;}	

.flexslider{margin:0 auto;position:relative;width:1000px;height:400px;overflow:hidden;zoom:1; z-index:0}

.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}

.flexslider .slides{zoom:1;}

.flex-direction-nav a{width:60px;height:90px;line-height:99em;overflow:hidden;margin:-60px 0 0;display:block;background:url(../images/ad_ctr.png) no-repeat;position:absolute;top:50%;z-index:10;cursor:pointer;opacity:0;filter:alpha(opacity=0);-webkit-transition:all .3s ease;}

.flex-direction-nav .flex-next{background-position:0 -90px;right:0;}

.flex-direction-nav .flex-prev{left:0;}

.flexslider:hover .flex-next{opacity:0.8;filter:alpha(opacity=25);}

.flexslider:hover .flex-prev{opacity:0.8;filter:alpha(opacity=25);}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1;filter:alpha(opacity=50);}

.flex-control-nav{width:100%;position:absolute;bottom:10px;text-align:center;}

.flex-control-nav li{margin:0 5px;display:inline-block;zoom:1;*display:inline;}

.flex-control-paging li a{background:url(../images/dot.png) no-repeat 0 -16px;display:block;height:16px;overflow:hidden;text-indent:-99em;width:16px;cursor:pointer;}

.flex-control-paging li a.flex-active{background-position:0 0;}	

.index-news{ width:100%; height:175px;}

.index-news-main{ width:1000px; height:175px; margin:0 auto; background:#fff; box-shadow: 0 0 13px rgba(0, 0, 0, 0.1); background:url(../images/indexnewssssbg.jpg) no-repeat;}

.index-news-main-con{ width:1000px; height:175px; float:left;}

.index-news-main-con-left{ width:330px; height:155px; float:left; padding-top:10px;}

.index-news-main-con-left-main{ width:250px; height:155px; float:left; margin-left:30px; margin-right:10px;}

.index-news-main-con-left-main-img{ width:250px; height:115px; float:left}

.index-news-main-con-left-main-name{ width:250px; height:40px; float:left;  color:#666; line-height:200%; line-height:40px;}

.index-news-main-con-left-main-name a{ color:#666; font-size:12px;}			

.index-news-main-con-left-main-name a:hover{ color:#44af35}	

.index-middle{ width:100%; height:155px;}

.index-middle_new{ width:100%; height:115px;}

.index-middle-main{ width:1000px; height:165px; margin:0 auto; background:#fff; padding-top:20px;}	

.index-middle-main_new{ width:1000px; height:115px; margin:0 auto}	

.index-middle-main-left{ width:333px; height:135px; float:left; background:#7ebb44}	

.index-middle-main-left_new{ width:333px; height:115px; float:left; background:#7ebb44}

.index-middle-main-left_new:hover, .index-middle-main-middle_new:hover, .index-middle-main-right_new:hover{ background:#f6c028}	

.index-middle-main-left:hover, .index-middle-main-middle:hover, .index-middle-main-right:hover{ background:#f6c028}

.index-middle-main-middle{width:334px; height:135px; float:left; background:#48a244}		

.index-middle-main-right{width:333px; height:135px; float:left; background:#15833b}	

.index-middle-main-middle_new{width:334px; height:115px; float:left; background:#48a244}		

.index-middle-main-right_new{width:333px; height:115px; float:left; background:#15833b}	

.index-middle-main-left-main{ width:273px; height:115px; float:left; margin-left:30px; margin-right:30px; margin-top:10px; margin-bottom:10px;cursor:pointer}

.index-middle-main-left-main_new{ width:273px; height:95px; float:left; margin-left:30px; margin-right:30px; margin-top:10px; margin-bottom:10px;}	

.index-middle-main-left-main-top{ width:273px; height:45px; line-height:45px; float:left; font-size:16px; color:#FFF}

.index-middle-main-left-main-middle{width:273px; height:50px; line-height:200%; float:left; font-size:12px; color:#FFF}

.index-middle-main-left-main-bottom{ width:273px; height:30px; float:left; margin-top:20px;}

.index-middle-main-left-main-bottom a{ display:block; width:80px; height:28px; line-height:28px; border:1px solid #fff; font-size:12px; color:#FFF; text-align:center}	

.index-middlebot{ width:100%; height:410px;}	

.index-middlebot-main{ width:1000px; height:410px; margin:0 auto; background:#fff}

.index-middlebot-main-con{ width:1000px; height:390px; float:left; margin-top:10px; margin-bottom:10px;}	

.index-middlebot-main-con-left{ width:333px; height:390px; float:left}

.index-middlebot-main-con-left-name{ width:283px; padding-left:30px; height:50px; line-height:50px; float:left; font-size:18px; color:#6e9868}

.index-middlebot-main-con-left-little{ width:283px; height:100px; float:left; border-bottom:1px dashed #CCC; margin-left:30px; margin-bottom:10px;}

.index-middlebot-main-con-left-little-main{ width:283px; height:95px; float:left}

.little-main-img{ width:93px; height:93px; float:left; border:1px solid #999}

.little-main-con{ width:178px; height:20px; float:left; padding-left:10px; font-size:12px; color:#6e9868}

.little-main-neirong{ width:178px; height:75px; float:left; padding-left:10px; line-height:130%}

.little-main-neirong a{ font-size:12px; color:#888}

.little-main-neirong a:hover{ color:#6e9868}

.index-middlebot-main-con-middle{width:334px; height:390px; float:left}

.index-middlebot-main-con-middle-img{ width:283px; padding-left:30px; height:160px; float:left}

.index-middlebot-main-con-middle-con{ width:283px; height:162px; float:left; padding-left:30px; line-height:300%; font-size:12px; border-bottom:1px dashed #CCC; color:#888}

.index-middlebot-main-con-right{width:333px; height:390px; float:left}

.index-middlebot-main-con-right-img{ width:282px; padding-left:30px; height:160px; float:left}

.index-middlebot-main-con-right-con{ width:282px; height:162px; float:left; padding-left:30px; line-height:300%; font-size:12px; border-bottom:1px dashed #CCC; color:#888}

.footer{ width:100%; height:110px;}

.footer_main{ width:1000px; height:110px; margin:0 auto; background:url(../images/indexbotbg.jpg) no-repeat;}

.footer-main-top{ width:970px; height:55px; line-height:55px; padding-left:30px; font-size:12px; color:#CCC}

.footer-main-top a{ font-size:12px; color:#CCC}

.footer-main-top a:hover{ color:#fff}

.neiye_banner{ width:100%; height:290px;}

.neiye_banner_main{ width:1000px; height:290px; margin:0 auto}

.neiye_main{ width:100%; overflow:hidden;}

.neiye_main_con{ width:1000px; overflow:hidden; background:#fff; margin:0 auto; padding-top:20px;}

.neiye_left{ width:220px; overflow:hidden; float:left}

.neiye_left_little{ width:220px; height:45px; line-height:45px; float:left; background:#f4f4f4}

.neiye_left_little_con{ width:190px; height:45px; line-height:45px; float:left; padding-left:30px; font-size:14px; color:#888}























.neiye_left{ width:230px; float:left; overflow:hidden}

.neiye_left_little{ width:217px; height:50px; line-height:50px; float:left; padding-left:13px; font-size:14px; color:#888; background:#f5f5f5}

.neiye_left_littlemain{ width:217px; height:100px; float:left; padding-left:13px;}

.neiye_left_biaoqian{ width:60px; height:25px; float:left; margin-top:17px; display:inline;}

.neiye_left_biaoqian a{ width:60px; height:25px; display:block; background:#7cba3d; text-align:center; color:#fff; font-size:12px; line-height:25px;}

.neiye_left_biaoqian a:hover{ background:#f9c00e}

.neiye_left_biaoqian2{ width:60px; height:25px; float:left; margin-top:17px; display:inline; margin-left:18px;}

.neiye_left_biaoqian2 a{ width:60px; height:25px; display:block; background:#7cba3d; text-align:center; color:#fff; font-size:12px; line-height:25px;}

.neiye_left_biaoqian2 a:hover{ background:#f9c00e}

.neiye_left_little2{ width:217px; height:50px; line-height:50px; float:left; padding-left:13px; font-size:14px; color:#666; background:#f5f5f5; margin-top:20px; display:inline}

#naviSlider2{

	list-style:none;  margin:0 auto; width:auto; text-align:center;

	

}

#naviSlider2  li{

	height:40px; width:10px;   cursor:pointer; display:inline-block; 

	background:url(../images/dot.png) -10px center no-repeat;

	_background:url(../images/dot_ie6.png) -10px center no-repeat;

	*zoom:1;*display:inline;*margin-left:2px;

	

}

#naviSlider2 li.on{

	background:url(../images/dot.png) left center no-repeat;

	_background:url(../images/dot_ie6.png) left center no-repeat;

}

.neiye_left_movie{ width:217px; height:145px; float:left; padding:20px 0 20px 13px}



.neiye_news{ width:217px; overflow:hidden; line-height:45px; float:left; border-bottom:1px dashed #999; margin-left:13px; display:inline; height:45px;}

.neiye_news_icon{ width:27px;  float:left; font-size:14px; color:#7cba3d; padding-top:16px;}

.neiye_news_main{ width:190px;  float:left}

.neiye_news_main a{ font-size:12px; color:#666}

.neiye_news_main a:hover{ font-size:12px; color:#7cba3d}

.neiye_yiti{ width:217px; height:140px; float:left; padding-left:13px;}

.neiye_yiti_img{ width:100px; height:100px; float:left; margin-top:10px; display:inline}

.neiye_yiti_img2{ width:100px; height:100px; float:left; margin-top:10px; display:inline; margin-left:17px;}

.neiye_right{ width:750px; overflow:hidden; float:left; margin-left:20px;}

.neiye_right_little{ width:750px; height:50px; float:left; line-height:50px; background:#f4f4f4; font-size:14px; color:#888}

.neiye_right_littlename{ padding-left:30px;}

.neiye_right_con{ width:730px; overflow:hidden; float:left; padding:10px; font-size:14px; color:#888; line-height:200%}

.neiye_news-list{ width:750px; height:200px; float:left; margin-top:20px; background:#f4f4f4}

.neiye_news-list:hover{ background:#fbfbfb}

.neiye_news-list-con{ width:690px; height:160px; float:left; padding:20px 30px;}

.neiye-news-listimg{ width:188px; height:158px; border:1px solid #CCC; float:left}

.neiye_news-listname{ width:475px; height:50px; float:left; padding-left:20px; line-height:160%; font-weight:600}

.neiye_news-listname a{ font-size:14px; color:#888}

.neiye_news-listname a:hover{ font-size:14px; color:#49b03b}

.neiye-news-listcon{ width:475px; height:108px; float:left; padding-left:20px; font-size:12px; color:#888; line-height:200%}
.redian{ width:100%; height:70px;}
.redian_main{ width:1000px; height:70px; margin:0 auto; background:#fff}
.redian_mian_con{ width:1000px; height:40px; float:left; background:#f4f4f4; margin-top:15px; margin-bottom:15px;}
.redian_main_name{ width:100px; height:40px; float:left; line-height:40px; padding-left:30px; font-size:16px; color:#6e9868}




.news_index{ width:1000px; height:410px; background:#fff; margin:0 auto}
.news_index_left{ width:330px; height:410px; float:left}
.news_index_left_main{ width:290px; height:410px; float:left; padding:0 30px; }
.news_index_left_main_top{ width:290px; height:80px; float:left;}
.news_index_left_main_top_left{ width:100px; height:80px; line-height:80px; float:left; font-size:18px; color:#2e981f; font-weight:300}
.news_index_left_main_top_right{ width:100px; height:80px; line-height:80px; float:right; font-size:12px; color:#2e981f; text-align:right}
.news_index_left_main_top_right a{ font-size:12px; color:#2e981f}
.news_index_left_main_top_right a:hover{ color:#000}
.news_index_left_main_top_right_middle{ width:290px; height:279px; float:left; border-bottom:1px dotted #999}
.news_index_left_main_top_right_middle_img{ width:290px; height:179px; float:left}
.news_index_left_main_top_right_middle_name{ width:290px; height:100px; float:left; font-size:12px; color:#787878; line-height:200%}
.news_index_left_main_middle_z{ width:290px; height:139px; border-bottom:1px dotted #999; float:left}
.shehui{ width:288px; height:108px; float:left; border:1px solid #eeeded}
.shehui:hover{ border:1px solid #f9be00}
.shehui_img{ width:178px; height:108px; float:left}
.shehui_name{ width:110px; height:108px; float:left; line-height:140%}
.shehui_name a{ color:#787878; font-size:12px; display:block; padding-right:8px; padding-top:7px;}
.shehui_name a:hover{ color:#090; text-decoration:underline} 
.shehui_a{width:288px; height:108px; float:left; border:1px solid #eeeded; margin-top:10px; display:inline}
.shehui_a:hover{ border:1px solid #f9be00}
.coent {
    float: left;
    height: 340px;
    overflow: hidden;
    width: 290px;
}.coent ul {
    overflow: hidden;
    width: 290px;
}

.coent ul li {
    border-bottom: 1px dotted #999;
    float: left;
    width: 290px;
	list-style:none
}

.coent ul li span.date {
    color: #026900;
    float: left;
    font-size: 12px;
    height: 29px;
    line-height: 45px;
    overflow: hidden;
    width: 290px;
}

.coent ul li span.tit {
    float: left;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    width: 290px;
}
.coent ul li span.tit a {
    color: #666;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
}
.coent ul li span.tit a:hover{ color:#090}

































































































			

			

			

			

			

			

			

			

			

			

			

			

			

			

			

			